.contact .contact-top {
    width: 100%;
    height: 100px;
}

.contact .name {
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

.contact .line {
    width: 40px;
    height: 5px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: var(--barcolor2);
}

.contact .feel {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.contact form {
    width: 60%;
    margin: 1px auto;
    padding: 40px 2px;
    border-radius: 8px;
    background-color: var(--barcolor1);
}

.contact form .form-content {
    width: 80%;
    margin: 1px auto;
}

.contact form .form-content .flabel {
    width: 100%;
}

.contact form .form-content .flabel input {
    display: block;
    padding: 12px 12px;
    margin: 10px 0;
    margin-bottom: 20px;
    width: 97%;
    border: none;
    border-radius:  8px;
    font-size: 16px;
}

.contact form .form-content .flabel input:focus {
    outline: 1px solid var(--barcolor2);
}

.contact form .form-content .flabel .farea {
    width: 97%;
    border: none;
    border-radius:  8px;
    margin-top: 10px;
    padding: 12px 12px;
}

.contact form .form-content .flabel .farea:focus {
    outline: 1px solid var(--barcolor2);
}

::placeholder {
    font-size: 14px;
    font-style: italic;
    color: var(--barcolor1);
}

.contact form .form-content .btn {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.contact form .form-content .btn .btn1 {
    width: 25%;
    height: 40px;
    background-color:  var(--barcolor2);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#msg {
    color: blue;
    margin-top: 10px;
    display: block;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




@media (max-width: 650px){

    .contact .name {
        font-size: 18px;
    }

    .contact form {
        width: 95%;
    }

    .contact form .form-content .btn .btn1 {
        width: 50%;
    }
    

}